@import "../../styles/variables.scss";

.house-details {
  width: 100%;
  flex-direction: column;
  margin-top: 30px;

  &__content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-start;
  }

  &__description {
    &__title {
      margin-top: 0 !important;
      margin-bottom: 0;
    }

    p {
      font-weight: 500;
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 25px;
    }

    &__tags {
      background-color: $main-color;
      color: white;
      margin-right: 15px;
      padding: 5px 20px;
      border-radius: 10px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  &__host {
    display: flex;
    flex-direction: column;
    width: 175px;

    &__picture {
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }

    &-infos {
      display: flex;
      flex-direction: row;
      align-items: center;
      text-align: right;
      gap: 20px;
      font-weight: 500;
      font-size: 18px;
    }

    &__rating {
      margin-top: 10px;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
      gap: 15px;
    }
  }

  &__accordion {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    gap: 75px;
  }
}

.accordion__section {
  width: 100% !important;
}

@media screen and (max-width: 850px) {
  .house-details {
    margin-top: 15px;

    &__content {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 25px;

      &__description {
        width: 100%;
      }
    }
  }

  main h2 {
    text-align: left !important;
  }

  .house-details__description__tags {
    display: inline-block;
    justify-content: center;
    align-items: center;
    font-size: 10px;
    border-radius: 5px;
    margin-top: 10px;
  }

  .house-details__description p {
    margin-bottom: 0;
    font-size: 14px;
  }

  .house-details__host {
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
    gap: 25px;
    margin-top: -30px;

    &-infos {
      font-size: 14px;
      gap: 10px;
      width: 100px;
    }

    &__picture {
      width: 32px;
      height: 32px;
    }

    &__rating {
      img {
        width: 15px;
        height: 15px;
      }
    }
  }

  .house-details__accordion {
    flex-direction: column;
    gap: 0px;
    margin-bottom: 30px;
  }
}
