@import "../../styles/variables.scss";

.header {
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.header__nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;

  li {
    margin-left: 57px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $main-color;
      font-size: 1.5em;
      font-weight: 500;

      &.active {
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 950px) {
  .header {
    margin-top: 20px;

    &__nav {
      width: 100%;

      ul {
        flex-direction: row;
        justify-content: flex-end;
        gap: 20px;

        li {
          margin-left: 0;

          a {
            font-size: 12px;
            text-transform: uppercase;
            width: auto;
            white-space: nowrap;
          }
        }
      }
    }

    &__logo {
      a {
        img {
          width: 145px;
        }
      }
    }
  }
}
