@import "../../styles/variables.scss";

.header {
  width: 100%;
  margin-top: 45px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;

  li {
    margin-left: 57px;
    cursor: pointer;
    a {
      text-decoration: none;
      color: $main-color;
      font-size: 1.5em;

      &.active {
        text-decoration: underline;
      }
    }
  }
}
